.SubmitBtn {
    background-color: #0068c3;
    margin-top: 20px;
  }

.LoginButton { 
    background-color: darkgrey;
}

body {
    background-image: url('F:\UOW\Y3\SEM 2\CSIT314\csit314_project\Frontend\src\pages\Login\o9avasvg5cy51.jpg');
}